* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color:antiquewhite;
}

.all-content {
}
.menu {
    background-color:white;
}
.menu-nav {
    list-style-type: none;
    overflow: auto;
    font-family: 'Fredoka', sans-serif;
}

.floatleft {
    background-color: white;
    float: left;
}
.floatleft > a {
    margin-left: 30px;
    text-decoration: none;
    
}
.floatright {
    background-color:white;
    float: right;
    display: flex;
}
.floatright > a {
    text-decoration: none;
    margin-right: 20px;
}
.cover {
    background-image: url("./img/lodging.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    position: relative;
}
.cover .p1 {
    color:white;
    /* margin-left: 30px; */
    position:absolute;
    left: 50px;
    top: 100px;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
}
.cover .p2 {
    color:white;
    position:absolute;
    left: 50px;
    top: 170px;
    font-family: 'Fredoka', sans-serif;
} 
.content1 {
    /* background-color: darkgray; */
    padding: 1px;
    margin-left:5%;
    font-family: 'Poppins', sans-serif;
    
}
.content2 {
    overflow: auto;
    margin-left: 5%;
    padding-top: 2.5%;
}
.part1 {
    width:30%;
    float: left;
    height: 400px;
    /* background-color: burlywood; */
    margin-right: 2.5%;
    /* padding: 1.5%; */
}
.partUp {
    /* background-image: url("./img/mexico-city.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:45%;
    margin-bottom:5%;
}
.partDown {
    /* background-image: url("./img/ny.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    height:45%;
}
.partFull {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:94%;
    width:100%;
    /* margin-bottom:10%; */
}

.footer {
    overflow: auto;
    margin-left: 5%;
}
.footer_text {
    float: left;
    width:30%;
    margin-right: 2.5%;
    font-family: 'Poppins', sans-serif;
}
.footer a {
    text-decoration: none;
}